@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


.about {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #b8ffc8;
    font-family: 'Roboto', sans-serif;
}

.aboutTop {
    width: 100%;
    height: 50%;
   /* padding:0;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-top: 50px;
   
}

    .aboutBottom p {
        width: 50%; /* 或者其他合适的百分比或vw值 */
        text-align: justify;
        font-weight: 600;
    }

.about .aboutBottom h1 {
    font-weight: 900;
    font-size: 60px;
    color: black;
    height: 25px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
}
@media only screen and (max-width: 1300px) {
    .aboutBottom p {
        font-size: 14px;
    }

    .aboutBottom {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-top: 50px;
    }

}

@media only screen and (max-width: 800px) {
    .aboutBottom p {
        font-size: 8px;
    }


    .aboutBottom {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-top: 50px;
    }
}


